body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #2f4390, #293b76, #25325d, #222a44, #1e212c) !important;
  /* background-image: linear-gradient(to bottom, #999aa0, #2a3c81, #253572, #202e63, #1b2755) !important; */
}

